@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div class="row">
    <div class="col-12">
        <label>Total Local:</label>
        <p class="fw-bold">@totalLocal</p>
        <label>Total Foreign:</label>
        <p class="fw-bold">@totalForeign</p>
    </div>
</div>