@using DesignPatterns.Models.Data
@model IEnumerable<Beer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" href="~/Beer/Add">Nueva Cerveza</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @{
            foreach(var beer in Model)
            {
                <p>@beer.Name</p>
            }
        }
    </div>
</div>
